.wrapper{

    
    
    background: rgb(233, 231, 231);
    padding: 30px;
    border-radius: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}
body{
    padding-top: 50px;
    display:flex;
    justify-content: center;
}
.dangnhap{
    padding-top: 30px;
    text-align: center;
    background: rgb(192, 188, 188);
    height: 400px;
    width: 400px;
}
.dangnhap>input{
    height: 20px;
    width: 300px;
}
a{text-decoration: none;
   color: gray;
}
a:hover{
    color: black;
}